<html>
<head>
	<title>Sublimate</title>

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="196x196" href="/img/icon.png">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon-precomposed" sizes="196x196" href="/img/icon.png">

	<meta name="application-name" content="Sublimate"/>
	<meta name="msapplication-config" content="ieconfig.xml" />

	<link rel="icon"
	type="image/png"
	href="/img/favicon.png">

  <link rel='stylesheet' href='css/style.css'>

</head>


<body>

	<iframe src="/registercache.html" style="display:none"></iframe>


	<div class="outer">
		<div class="middle">
			<div id="belltimes">
				<table></table>
			</div>

			<div id="right-side">
				<p class="subtext" id="week">&nbsp;</p>

				<div id="main" onclick="$(this).toggleClass('simpleMode')" class="outer"><div class="middle">
					<p id="next">Loading</p>
					<p class="subtext">in</p>
					<p id="time">00h, 00m, 00s</p>
				</div></div>

				<div id="notices">
				</div>
			</div>

		</div>
	</div>

	<script>
  window.q=[], window.$=function(f){q.push(f)};
  window.addEventListener("load", function() {

    var element = document.createElement("script");
    document.body.appendChild(element);

    element.addEventListener("load", function() {
      var scripts = ["/js/common.js","/js/customise.js","/js/authenticated.js"];
      $.each(scripts, function(i,o) {
        // $("head").append($("<script>").attr('src',o))
        var e = document.createElement("script");
        document.head.appendChild(e);
        e.src=o;
      });
      $.each(q,function(index,f){$(f)});delete q;
    })

    element.src = "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
  });
  </script>

  <%- include ../partials/contextmenu.ejs %>
</body>
</html>
