<!DOCTYPE html>

<head>
	<title>Solid</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
	<a id="button" href="/login"><img alt="Login" src="https://login.sbhs.net.au/shssupport/assets/images/sbhs-white.gif" />Login with SBHS</a>
    <div id="footer">
        <p>CC BY-SA 3.0 - Subtle Patterns © Atle Mo.</p>
    </div>
</body>