<!DOCTYPE html>

<head>
	<title>Sublimate</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="196x196" href="/img/icon.png">
	<link rel="apple-touch-icon" sizes="196x196" href="/img/icon.png">
	<link rel="icon" 
      type="image/x-icon" 
      href="/img/favicon.ico">
</head>

<body>
	<a id="button" href="/login"><img alt="Login" src="https://login.sbhs.net.au/shssupport/assets/images/sbhs-white.gif" />Login with SBHS</a>
    <div id="footer">
        <p>CC BY-SA 3.0 - Subtle Patterns © Atle Mo.</p>
    </div>
</body>