<html>
	<head>
		<title>Sublimate</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/countdown.js"></script>
	</head>

	<body>
		You be offline! Arrgh!
	</body>
</html>