html,body, .simpleMode {
    background:#bbb;
    color: black;
}

#button {
    text-decoration: none;
    font-size: 2vw;
    line-height: 6vw;
    margin-top: 6vw;
    font-weight: bolder;
    color: teal;
}

#button:active {
    color: navy;
}

@media screen and (orientation:portrait) {

    #button {
        font-size: 2vh;
        line-height: 6vh;
        margin-top: 6vh;
    }

}
