/*--- Common ---*/

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

body {
	text-align: center;
	margin:0;
	padding:0;
	height:100%;
	color: black;
	font: 12px "Roboto", "Helvetica Neue",Helvetica,Impact,Verdana,"Lucida Grande","Franklin Gothic Book",sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	cursor: default;
     -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.timeCell {
	width: 25%;
}

.roomCell {
	width: 20%;
}

.outer {
	display: table;
	height: 100%;
	width: 100%;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}

.rollover {
	border-bottom: 1px dotted red;
	color: red;
	width:auto;
	display: inline;
	cursor: help;
}

#belltimes {
	margin: auto;
	table-layout: fixed;
	border-collapse:collapse;
}

#belltimes table {
	width: 100%;
	min-height: 100%;
}

#belltimes td
{
	white-space: nowrap;
	font-weight: 300;
	letter-spacing: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.warning {
	color: red;
}

.simpleMode {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
}

/*--- Full-Featured, Beautiful ---*/

@media screen and (orientation:landscape) {

	body {
		background:url("/img/background.png") white;
			
	}

	#belltimes {
		position: fixed;
		float: left;
		width:30%;
		left: 3%;
		top: 3%;
		height: 94%;
		overflow: scroll;
	}

	#belltimes-decoration {
		position: fixed;
		background-color: rgba(255,255,255,0.5);
		top: 0;
		left: 0;
		width: 36%;
		height: 100%;
	}

	#right-side {
		position: absolute;
		right: 0;
		top: 5%;
		width: 64%;
		height: auto;
		float: right;
	}

	#time {
		font-size: 7vw;
	}

	.subtext {
		font-size: 2vw;
	}

	#next {
		font-size: 4vw;
	}

	#belltimes td {
		font-size: 2vw;
	}

	#notices div {
		background-color: rgba(255,255,255,0.5);
		margin: 3%;
		width: 88%;
		padding: 2vw;
		padding-bottom: 3vw;
		text-align: left;
		font-weight: normal;
		letter-spacing: 0;
		font-size: 1vw;
	}

	#notices div .title {
		font-size: 2vw;
	}

	#notices div .author {
		color: grey;
	}

}

/*--- Phones and Windows 8 Dual-Thingy ---*/

@media screen and (orientation:portrait) {


	#belltimes {
		width: 80%;
	}

	#time {
		font-size: 6vh;
	}

	.subtext {
		font-size: 2vh;
		margin-top: 1vh;
		margin-bottom: 1vh;
	}

	#next {
		margin-top: 4vh;
		font-size: 4vh;
	}	

	#belltimes td {
		padding: 1vh;
		font-size: 3vh;
	}

	#notices{
		display: none;
	}

	#week {
		display: none;
	}
}