/*--- Common ---*/

a {
  color:#0af;
  text-decoration: none;
  transition:.3s;
  cursor: pointer;
}
a:hover { color:red; }

.highlight {color:#bf4}

.notice {
  border-radius: 3px;
  background: rgba(0,0,0,0.1);
  overflow: hidden;
  clear: both;
}

.classic .notice {background: rgba(255,255,255,0.3)}
.classic .author {color: #777}

body {
  text-align: center;
  margin:0;padding:0;
  color:#fff;
  font: 14px Roboto, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;

  -ms-overflow-style: none;

  cursor: default;

  -ms-user-select:none;
  user-select:none;
  -webkit-user-select:none;
}

::-webkit-scrollbar {display: none}

p {

  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeCell {width: 25%}
.roomCell {
  width: 20%;
  text-align: right
}

.outer {
  display: table;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}

.rollover {
  border-bottom: 1px dotted currentColor;
  width:auto;
  display: inline;
  cursor: help;
}

#belltimes {
  margin: auto;
  overflow: scroll;
}

#belltimes table {
  width: 100%;
  height: 100%;
}

#belltimes td
{
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  color: #bbb;
}


#main {
  font-weight: 100;
}



/*--- Full-Featured, Beautiful ---*/

@media (orientation:landscape) {

  .simpleMode {
    position: fixed;
    top:0;left:0;
    height:100%;width:100%;
    z-index: 998
  }

  #belltimes {
    position: fixed;
    float: left;
    width:36%;
    padding: 3%;
    top: 0; left: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;

    border-right-style: solid;
    border-width: 0px 1px 0px 0px;
    border-image: linear-gradient(to bottom, transparent, #aaa, transparent) 0 100%;
  }

  #right-side {
    position: absolute;
    right: 0;
    top: 5%;
    width: 64%;
    height: auto;
    float: right;
  }

  #time {font-size: 7vw}
  .subtext {font-size: 2vw}
  #next {font-size: 4vw}
  #belltimes td {font-size: 2vw}

  .notice {
    margin: 3%;
    width: 88%;
    padding: 1vw;
    text-align: justify;
    font-size: 1.2vw;
  }

  .notice .title {
    font-size: 1.8vw;
    margin-bottom: 0.6vw;
  }

  .classic #belltimes {background: rgba(255,255,255,0.3)}

}

/*--- Phones and Windows 8 Dual-Thingy ---*/

@media (orientation:portrait) {

  #belltimes {
    width: 80%;
  }

  #time {
    font-size: 6vh;
  }

  .subtext {
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #next {
    margin-top: 4vh;
    font-size: 4vh;
  }

  #belltimes td {
    padding: 1vh;
    font-size: 3vh;
  }

  #week{
    display: none;
  }

  #notices {
    position: absolute;
    top: 0; left: 0;
    margin-left: 110%; margin-right: 10%;
    width: 100%; height: 100%;
    text-align: justify;
    overflow-y: scroll;
  }
  .notice {
    margin: 14px;
    padding: 7px;
    font-size: 14px;
  }
  .notice .title {
    font-size: 18px;
    margin-bottom: 7px;
  }

}

/*--- Classic Mode ---*/
.classic body {color: black}
.classic .highlight {color: red}
.classic a {color:blue}


/*--- Overlay Menu ---*/
.overlaymenu {
  z-index: 999;
}

.overlaymenu div {
  background:rgba(0,0,0,0.5);
  position:fixed;
  top:0;left:0;
  width:100%;
  height:100%;
}
.overlaymenu ul {
  border-radius: 3px;
  background:#fff;
  margin: 0; padding:5px 0;
  text-align: center;
  border: 1px solid #333;

  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  min-width: 33%; max-width: 90%;
  box-sizing: border-box;
}
.overlaymenu ul li {
  display: block;
  padding: 0 16px;
  font-size: 18px;
  line-height: 48px;
  cursor: pointer;

  background: #fff;
  color: #333;

  transition:.3s ease-in-out;
}
.overlaymenu ul li:hover {
  color: #fff;
  background: #333;

  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
}

@media (orientation:portrait) {
  .overlaymenu ul {
    width: 80%;
  }
}

.overlaymenu select {
  outline: none;
  padding: 5px;
  font-size: 14px;
  border-radius:3px;
  background: #eee;
  color:#333;
  border:none;

  font: cursive;

  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  cursor:pointer;
}


/*MONKEYS, MONKEYS EVERYWHERE! (Monkey Patches ftw!)*/
@media (orientation:portrait) {
  #belltimes {
    width: 100%;
    height:100%;
    position: absolute;
    top: 0; left: 0;
    margin-left: 100%; margin-right: 0;
  }

  #belltimes table {
    padding: 5%;
  }

  #main {
    width: 100%; height: 100%;
  }

  #time {
    font-size: 16vh;
    word-spacing: 100vw;
  }

  .subtext {
    font-size: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  #next {
    margin-top: 4vw;
    font-size: 6vh;
  }

  #notices {
    position: absolute;
    top: 0; left: 0;
    margin-left: 200%; margin-right: 0;
    width: 100%; height: 100%;
    text-align: justify;
    overflow-y: scroll;
  }
}
